$green: rgb(1, 141, 1);
$red: rgb(165, 0, 0);
$yellow: rgb(168, 168, 26);
$blue: rgb(0, 0, 175);
$m-size: 1.6rem;
$dark-grey: #333;

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $dark-grey;
	font-family: 'Oswald', sans-serif !important;
	font-size: $m-size;
	line-height: 1.6;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}

/*
!CONTAINERS
*/

.simonBackground {
	margin-top: -1px;
	padding-top: 1px;
	background: url('./simon-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.simonSays {
	width: 400px;
	margin: 200px auto;
}

.centerControls {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background: white;
	border: 8px solid black;
	left: 100px;
	top: 100px;
	position: relative;
}

.simonContainer {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	position: absolute;
}

.simonBtnContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	margin-top: 80px;
}

.onSwitchContainer {
	width: 84px;
	display: flex;
	position: absolute;
	margin-top: 140px;
	margin-left: 46px;
}

/*
!ON-OFF TOGGLE
*/

.switchSimon {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.switchSimon .onToggle {
	display: none;
}

.sliderSimon {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.sliderSimon:before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.onToggle:checked + .sliderSimon {
	background-color: red;
}

.onToggle:focus + .sliderSimon {
	box-shadow: 0 0 1px red;
}

.onToggle:checked + .sliderSimon:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

/*
!LIGHTS & Buttons
*/

.inactiveLight {
	border: 2px solid rgb(36, 36, 36);
	background: rgb(43, 0, 0);
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-left: 7px;
}

.activeLight {
	@extend .inactiveLight;
	background: red;
}

.description {
	margin-top: 2px;
	text-align: center;
	font-size: 10px;
}

.simonBtns {
	border: 3px solid rgb(36, 36, 36);
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
	margin-top: 5px;
}

.startBtn {
	@extend .simonBtns;
	background-color: red;
}

.startBtn:active {
	position: relative;
	top: 2px;
	color: red;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.startBtnPressed {
	@extend .startBtn;
	position: relative;
	top: 2px;
	color: red;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.strictBtn {
	@extend .simonBtns;
	background-color: yellow;
}

.strictBtn:active {
	position: relative;
	top: 2px;
	color: yellow;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.strictBtnPressed {
	@extend .strictBtn;
	position: relative;
	top: 2px;
	color: yellow;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/*
!SCORES
*/

.score {
	border: 3px solid rgb(36, 36, 36);
	background: rgb(68, 0, 0);
	color: rgb(114, 0, 0);
	font-family: 'Press Start 2P', cursive;
	border-radius: 10px;
	width: 54px;
	height: 36px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.activeScore {
	@extend .score;
	color: red;
}

/*
!TEXT
*/
.simonTitle {
	font-size: 40px;
	vertical-align: top;
	text-align: center;
	display: inline-block;
}

.copyright {
	margin-top: 6px;
	font-size: 20px;
	display: inline-block;
}

.combination {
	padding-top: 30px;
}

.toggleText {
	padding: 2px 4px 2px 4px;
	font-size: 12px;
}
/*
!SIMON BUTTONS
*/
.circle {
	height: 200px;
	width: 200px;
	cursor: pointer;
}

.green {
	float: left;
	border-top-left-radius: 100%;
	border-left: 8px solid black;
	border-top: 8px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	background: $green;
}

.flash-green {
	@extend .green;
	background: lighten($green, 20%);
}

.red {
	float: right;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-right: 8px solid black;
	border-top: 8px solid black;
	border-top-right-radius: 100%;
	background: $red;
}

.flash-red {
	@extend .red;
	background: lighten($red, 20%);
}

.yellow {
	float: left;
	border-top: 4px solid black;
	border-bottom: 8px solid black;
	border-left: 8px solid black;
	border-right: 4px solid black;
	border-bottom-left-radius: 100%;
	background: $yellow;
}

.flash-yellow {
	@extend .yellow;
	background: lighten($yellow, 20%);
}

.blue {
	float: right;
	border-right: 8px solid black;
	border-bottom: 8px solid black;
	border-left: 4px solid black;
	border-top: 4px solid black;
	border-bottom-right-radius: 100%;
	background: $blue;
}

.flash-blue {
	@extend .blue;
	background: lighten($blue, 20%);
}
